# Exploratory Data Analysis (EDA)

## Structure of the Dataset:

**ASSETID**: A unique identifier for each property or asset in the dataset. It's a categorical variable with multiple levels.  
**PERIOD**: The time period in which the data was recorded, typically represented as a six-digit integer (YYYYMM) indicating the year and month.  
**PRICE**: The total price of the property in the local currency (€). This is a numerical value.  
**UNITPRICE**: The price per unit area (square meter) of the property. This is also a numerical value.  
**CONSTRUCTEDAREA**: The total constructed area of the property in square meters. It's an integer value indicating the size of the property.  
**ROOMNUMBER**: The number of rooms in the property. This integer value includes all types of rooms (e.g., bedrooms, living rooms).  
**BATHNUMBER**: The number of bathrooms in the property. This is an integer value.  
**HASTERRACE**: A binary indicator (0/1) where 1 indicates the property has a terrace and 0 indicates it does not.  
**HASLIFT**: A binary indicator (0/1) where 1 indicates the property has a lift (elevator) and 0 indicates it does not.  
**HASAIRCONDITIONING**: A binary indicator (0/1) where 1 indicates the property has air conditioning and 0 indicates it does not.  
**AMENITYID**: An integer that likely represents a category or type of amenities associated with the property.  
**HASPARKINGSPACE**: A binary indicator (0/1) where 1 indicates the property includes a parking space and 0 indicates it does not.  
**ISPARKINGSPACEINCLUDEDINPRICE**: A binary indicator (0/1) where 1 indicates the parking space is included in the property price, and 0 indicates it is not.  
**PARKINGSPACEPRICE**: An integer that appears to be a placeholder or a standardized value (likely 1 in this dataset).  
**HASNORTHORIENTATION**: A binary indicator (0/1) where 1 indicates the property has a northern orientation and 0 indicates it does not.  
**HASSOUTHORIENTATION**: A binary indicator (0/1) where 1 indicates the property has a southern orientation and 0 indicates it does not.  
**HASEASTORIENTATION**: A binary indicator (0/1) where 1 indicates the property has an eastern orientation and 0 indicates it does not.  
**HASWESTORIENTATION**: A binary indicator (0/1) where 1 indicates the property has a western orientation and 0 indicates it does not.  
**HASBOXROOM**: A binary indicator (0/1) where 1 indicates the property includes a box room and 0 indicates it does not.  
**HASWARDROBE**: A binary indicator (0/1) where 1 indicates the property includes a built-in wardrobe, and 0 indicates it does not.  
**HASSWIMMINGPOOL**: A binary indicator (0/1) where 1 indicates the property includes a swimming pool, and 0 indicates it does not.  
**HASDOORMAN**: A binary indicator (0/1) where 1 indicates the property has a doorman or concierge service, and 0 indicates it does not.  
**HASGARDEN**: A binary indicator (0/1) where 1 indicates the property has a garden, and 0 indicates it does not.  
**ISDUPLEX**: A binary indicator (0/1) where 1 indicates the property is a duplex, and 0 indicates it is not.  
**ISSTUDIO**: A binary indicator (0/1) where 1 indicates the property is a studio, and 0 indicates it is not.  
**ISINTOPFLOOR**: A binary indicator (0/1) where 1 indicates the property is located on the top floor, and 0 indicates it is not.  
**CONSTRUCTIONYEAR**: The year the property was constructed. This is an integer value.  
**FLOORCLEAN**: An integer likely representing the floor level of the property.  
**FLATLOCATIONID**: An integer that likely corresponds to a specific location or region code for the flat.  
**CADCONSTRUCTIONYEAR**: The construction year of the property according to cadastral records.  
**CADMAXBUILDINGFLOOR**: The maximum number of floors in the building according to cadastral records.  
**CADDWELLINGCOUNT**: The number of dwelling units in the building according to cadastral records.  
**CADASTRALQUALITYID**: An integer representing the cadastral quality or classification of the building.  
**BUILTTYPEID_1**: A binary indicator (0/1) where 1 indicates the property is new construction.  
**BUILTTYPEID_2**: A binary indicator (0/1) where 1 indicates the property is second hand to be restored.  
**BUILTTYPEID_3**: A binary indicator (0/1) where 1 indicates the property is second hand in good condition.  
**DISTANCE_TO_CITY_CENTER**: A numerical value representing the distance (km) from the property to the city center.  
**DISTANCE_TO_METRO**: A numerical value representing the distance (km) from the property to the nearest metro station.  
**DISTANCE_TO_{main avenue}**: A numerical value representing the distance (km) from the property to the main avenue of each city.  
**LONGITUDE**: The geographical longitude of the property’s location.  
**LATITUDE**: The geographical latitude of the property’s location.

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

!pip install folium
import folium
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

Requirement already satisfied: folium in c:\users\marin\anaconda3\envs\profiling\lib\site-packages (0.19.5)
Requirement already satisfied: branca>=0.6.0 in c:\users\marin\anaconda3\envs\profiling\lib\site-packages (from folium) (0.8.1)
Requirement already satisfied: jinja2>=2.9 in c:\users\marin\anaconda3\envs\profiling\lib\site-packages (from folium) (3.1.5)
Requirement already satisfied: numpy in c:\users\marin\anaconda3\envs\profiling\lib\site-packages (from folium) (1.26.4)
Requirement already satisfied: requests in c:\users\marin\anaconda3\envs\profiling\lib\site-packages (from folium) (2.32.3)
Requirement already satisfied: xyzservices in c:\users\marin\anaconda3\envs\profiling\lib\site-packages (from folium) (2025.1.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\marin\anaconda3\envs\profiling\lib\site-packages (from jinja2>=2.9->folium) (3.0.2)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\marin\anaconda3\envs\profiling\lib\site-packages (from requests->folium) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\marin\anaconda3\envs\profiling\lib\site-packages (from requests->folium) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\marin\anaconda3\envs\profiling\lib\site-packages (from requests->folium) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\marin\anaconda3\envs\profiling\lib\site-packages (from requests->folium) (2024.12.14)

### Loading the Dataset

In [8]:
data = pd.read_csv("C:\\Users\\marin\\Documents\\TFM\\2.csv")
data.sample(5)

,ASSETID,PERIOD,PRICE,UNITPRICE,CONSTRUCTEDAREA,ROOMNUMBER,BATHNUMBER,HASTERRACE,HASLIFT,HASAIRCONDITIONING,...,CADDWELLINGCOUNT,CADASTRALQUALITYID,BUILTTYPEID_1,BUILTTYPEID_2,BUILTTYPEID_3,DISTANCE_TO_CITY_CENTER,DISTANCE_TO_METRO,DISTANCE_TO_CASTELLANA,LONGITUDE,LATITUDE
20296,A3165208634141977326,201812,725000.0,3877.005348,187,6,2,1,0,0,...,8,3.0,0,1,0,0.478032,0.155493,0.471025,-3.699437,40.413859
19589,A18311826098303579178,201812,119000.0,5409.090909,22,0,1,0,0,0,...,15,4.0,0,0,1,0.905292,0.126902,0.794391,-3.702411,40.408526
71473,A1012624488955182089,201806,427000.0,1832.618026,233,6,3,0,1,1,...,11,6.0,0,0,1,3.606173,0.338338,1.574034,-3.670350,40.436626
63468,A8815460278808661725,201812,164000.0,2157.894737,76,3,1,1,0,0,...,10,7.0,0,0,1,5.513529,0.820072,1.475278,-3.706443,40.466078
8828,A7274929849949301928,201803,103000.0,1373.333333,75,3,1,1,0,0,...,8,6.0,0,0,1,8.494018,0.231442,6.575856,-3.620819,40.373821

### Assigning Districts to Properties Using Spatial Join

In [13]:
geometry = [Point(xy) for xy in zip(data['LONGITUDE'], data['LATITUDE'])]
gdf_points = gpd.GeoDataFrame(data, geometry=geometry, crs='EPSG:4326')

gdf_districts = gpd.read_file(r'C:\Users\marin\Downloads\madrid-districts.geojson')
gdf_districts.set_crs('EPSG:4326', inplace=True)
print(gdf_districts.head())
print(gdf_districts.columns)

gdf_districts = gdf_districts.to_crs(gdf_points.crs)

gdf_merged = gpd.sjoin(gdf_points, gdf_districts, how='left', predicate='within')
data = data.reset_index(drop=True)
gdf_merged = gdf_merged.reset_index(drop=True)

data['DISTRICT'] = gdf_merged['name']
data.sample(10)

         name  cartodb_id                created_at                updated_at  \
0      Centro           1 2013-12-02 07:20:26+01:00 2013-12-02 07:20:26+01:00
1  Arganzuela           2 2013-12-02 07:20:26+01:00 2013-12-02 07:20:26+01:00
2      Retiro           3 2013-12-02 07:20:26+01:00 2013-12-02 07:20:26+01:00
3   Salamanca           4 2013-12-02 07:20:26+01:00 2013-12-02 07:20:26+01:00
4   Chamartin           5 2013-12-02 07:20:26+01:00 2013-12-02 07:20:26+01:00

                                            geometry
0  MULTIPOLYGON (((-3.69185 40.40853, -3.69189 40...
1  MULTIPOLYGON (((-3.70258 40.40638, -3.70166 40...
2  MULTIPOLYGON (((-3.66279 40.4097, -3.66384 40....
3  MULTIPOLYGON (((-3.65809 40.43945, -3.65828 40...
4  MULTIPOLYGON (((-3.67231 40.48388, -3.67237 40...
Index(['name', 'cartodb_id', 'created_at', 'updated_at', 'geometry'], dtype='object')

,ASSETID,PERIOD,PRICE,UNITPRICE,CONSTRUCTEDAREA,ROOMNUMBER,BATHNUMBER,HASTERRACE,HASLIFT,HASAIRCONDITIONING,...,CADASTRALQUALITYID,BUILTTYPEID_1,BUILTTYPEID_2,BUILTTYPEID_3,DISTANCE_TO_CITY_CENTER,DISTANCE_TO_METRO,DISTANCE_TO_CASTELLANA,LONGITUDE,LATITUDE,DISTRICT
47839,A10096839652230942136,201812,236000.0,3232.876712,73,2,1,1,0,1,...,6.0,0,0,1,4.267699,0.349188,1.515068,-3.673285,40.447095,Chamartin
72413,A11999632686250293229,201812,183000.0,4066.666667,45,2,1,1,0,0,...,6.0,0,0,1,2.187823,0.179855,2.989672,-3.729364,40.413917,Latina
90158,A1673261967666649195,201812,100000.0,1612.903226,62,2,1,1,0,0,...,7.0,0,1,0,7.298992,0.293720,5.944903,-3.618823,40.427319,San Blas
88019,A4717692847109596390,201806,662000.0,4137.500000,160,3,2,1,1,1,...,3.0,0,0,1,8.213672,1.068912,5.840176,-3.621035,40.455019,Hortaleza
63791,A14178249837775009394,201812,214000.0,1945.454545,110,2,2,0,0,0,...,4.0,0,0,1,4.978277,0.469869,1.197842,-3.703715,40.461311,Tetuan
36458,A10657245180697566547,201812,831000.0,4373.684211,190,5,3,0,1,0,...,4.0,0,1,0,0.383425,0.278984,0.482556,-3.699814,40.414947,Centro
16768,A15131005349920050216,201803,195000.0,2532.467532,77,2,1,0,1,0,...,5.0,0,0,1,8.412125,0.169636,3.537886,-3.643377,40.476563,Hortaleza
54621,A4971965632201879748,201806,242000.0,2813.953488,86,3,1,0,1,1,...,5.0,0,0,1,5.224806,0.181671,3.333794,-3.649897,40.439391,Ciudad Lineal
5135,A3282168857537854841,201803,130000.0,1666.666667,78,3,1,1,0,0,...,7.0,0,1,0,8.538437,0.316403,1.504094,-3.695421,40.493027,Fuencarral-El Pardo
46144,A8812929149248403731,201806,318000.0,6360.000000,50,0,1,0,1,1,...,5.0,0,0,1,2.599750,0.220205,2.060670,-3.715959,40.438028,Chamberi

#### Check that all districts of Madrid are present in the dataset

In [14]:
data["DISTRICT"].unique()

array(['Carabanchel', 'Centro', 'Arganzuela', 'Puente de Vallecas',
       'Ciudad Lineal', 'Salamanca', 'Moncloa-Aravaca', 'Latina', 'Usera',
       'Retiro', 'Hortaleza', 'Chamartin', 'Tetuan', 'Chamberi',
       'Villaverde', 'Villa de Vallecas', 'Fuencarral-El Pardo',
       'Barajas', 'Moratalaz', nan, 'Vicalvaro', 'San Blas'], dtype=object)

### Checking Shape of the Dataset

In [12]:
data.shape

(94815, 42)

### Checking all columns in the Dataset

In [15]:
data.columns

Index(['ASSETID', 'PERIOD', 'PRICE', 'UNITPRICE', 'CONSTRUCTEDAREA',
       'ROOMNUMBER', 'BATHNUMBER', 'HASTERRACE', 'HASLIFT',
       'HASAIRCONDITIONING', 'AMENITYID', 'HASPARKINGSPACE',
       'ISPARKINGSPACEINCLUDEDINPRICE', 'PARKINGSPACEPRICE',
       'HASNORTHORIENTATION', 'HASSOUTHORIENTATION', 'HASEASTORIENTATION',
       'HASWESTORIENTATION', 'HASBOXROOM', 'HASWARDROBE', 'HASSWIMMINGPOOL',
       'HASDOORMAN', 'HASGARDEN', 'ISDUPLEX', 'ISSTUDIO', 'ISINTOPFLOOR',
       'CONSTRUCTIONYEAR', 'FLOORCLEAN', 'FLATLOCATIONID',
       'CADCONSTRUCTIONYEAR', 'CADMAXBUILDINGFLOOR', 'CADDWELLINGCOUNT',
       'CADASTRALQUALITYID', 'BUILTTYPEID_1', 'BUILTTYPEID_2', 'BUILTTYPEID_3',
       'DISTANCE_TO_CITY_CENTER', 'DISTANCE_TO_METRO',
       'DISTANCE_TO_CASTELLANA', 'LONGITUDE', 'LATITUDE', 'DISTRICT'],
      dtype='object')

### Information about the dataset

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94815 entries, 0 to 94814
Data columns (total 42 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ASSETID                        94815 non-null  object
 1   PERIOD                         94815 non-null  int64
 2   PRICE                          94815 non-null  float64
 3   UNITPRICE                      94815 non-null  float64
 4   CONSTRUCTEDAREA                94815 non-null  int64
 5   ROOMNUMBER                     94815 non-null  int64
 6   BATHNUMBER                     94815 non-null  int64
 7   HASTERRACE                     94815 non-null  int64
 8   HASLIFT                        94815 non-null  int64
 9   HASAIRCONDITIONING             94815 non-null  int64
 10  AMENITYID                      94815 non-null  int64
 11  HASPARKINGSPACE                94815 non-null  int64
 12  ISPARKINGSPACEINCLUDEDINPRICE  94815 non-null  int64
 13  PARKINGSPACEPRICE              94815 non-null  int64
 14  HASNORTHORIENTATION            94815 non-null  int64
 15  HASSOUTHORIENTATION            94815 non-null  int64
 16  HASEASTORIENTATION             94815 non-null  int64
 17  HASWESTORIENTATION             94815 non-null  int64
 18  HASBOXROOM                     94815 non-null  int64
 19  HASWARDROBE                    94815 non-null  int64
 20  HASSWIMMINGPOOL                94815 non-null  int64
 21  HASDOORMAN                     94815 non-null  int64
 22  HASGARDEN                      94815 non-null  int64
 23  ISDUPLEX                       94815 non-null  int64
 24  ISSTUDIO                       94815 non-null  int64
 25  ISINTOPFLOOR                   94815 non-null  int64
 26  CONSTRUCTIONYEAR               38942 non-null  float64
 27  FLOORCLEAN                     90969 non-null  float64
 28  FLATLOCATIONID                 88428 non-null  float64
 29  CADCONSTRUCTIONYEAR            94815 non-null  int64
 30  CADMAXBUILDINGFLOOR            94815 non-null  int64
 31  CADDWELLINGCOUNT               94815 non-null  int64
 32  CADASTRALQUALITYID             94814 non-null  float64
 33  BUILTTYPEID_1                  94815 non-null  int64
 34  BUILTTYPEID_2                  94815 non-null  int64
 35  BUILTTYPEID_3                  94815 non-null  int64
 36  DISTANCE_TO_CITY_CENTER        94815 non-null  float64
 37  DISTANCE_TO_METRO              94815 non-null  float64
 38  DISTANCE_TO_CASTELLANA         94815 non-null  float64
 39  LONGITUDE                      94815 non-null  float64
 40  LATITUDE                       94815 non-null  float64
 41  DISTRICT                       94714 non-null  object
dtypes: float64(11), int64(29), object(2)
memory usage: 30.4+ MB

In [17]:
data.describe()

,PERIOD,PRICE,UNITPRICE,CONSTRUCTEDAREA,ROOMNUMBER,BATHNUMBER,HASTERRACE,HASLIFT,HASAIRCONDITIONING,AMENITYID,...,CADDWELLINGCOUNT,CADASTRALQUALITYID,BUILTTYPEID_1,BUILTTYPEID_2,BUILTTYPEID_3,DISTANCE_TO_CITY_CENTER,DISTANCE_TO_METRO,DISTANCE_TO_CASTELLANA,LONGITUDE,LATITUDE
count,94815.000000,9.481500e+04,94815.000000,94815.000000,94815.000000,94815.000000,94815.000000,94815.000000,94815.000000,94815.000000,...,94815.000000,94814.000000,94815.000000,94815.000000,94815.000000,94815.000000,94815.000000,94815.000000,94815.000000,94815.000000
mean,201808.613289,3.961101e+05,3661.051534,101.397163,2.580900,1.585456,0.355260,0.695597,0.448600,2.922660,...,39.187164,4.852184,0.030396,0.186563,0.783041,4.486269,0.480916,2.679227,-3.686408,40.421083
std,3.684625,4.170744e+05,1700.499398,67.078259,1.244878,0.843024,0.478595,0.460157,0.497354,0.314865,...,54.254387,1.462988,0.171675,0.389563,0.412177,2.994906,1.433584,2.581346,0.039239,0.035495
min,201803.000000,2.100000e+04,805.309735,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.007647,0.001416,0.001435,-3.833611,36.756391
25%,201806.000000,1.600000e+05,2240.000000,62.000000,2.000000,1.000000,0.000000,0.000000,0.000000,3.000000,...,12.000000,4.000000,0.000000,0.000000,1.000000,2.407711,0.213458,1.035143,-3.708474,40.396868
50%,201809.000000,2.620000e+05,3480.000000,83.000000,3.000000,1.000000,0.000000,1.000000,0.000000,3.000000,...,21.000000,5.000000,0.000000,0.000000,1.000000,4.123505,0.331882,1.956978,-3.694104,40.423295
75%,201812.000000,4.670000e+05,4744.623034,117.000000,3.000000,2.000000,1.000000,1.000000,1.000000,3.000000,...,40.000000,6.000000,0.000000,0.000000,1.000000,6.213463,0.523025,3.840641,-3.666227,40.441998
max,201812.000000,8.133000e+06,9997.560976,985.000000,93.000000,20.000000,1.000000,1.000000,1.000000,3.000000,...,1499.000000,9.000000,1.000000,1.000000,1.000000,415.752584,399.477366,412.803688,-2.753303,40.520637

### Checking if there is any Null value present in the Dataset

In [18]:
data.isnull().sum()

ASSETID                              0
PERIOD                               0
PRICE                                0
UNITPRICE                            0
CONSTRUCTEDAREA                      0
ROOMNUMBER                           0
BATHNUMBER                           0
HASTERRACE                           0
HASLIFT                              0
HASAIRCONDITIONING                   0
AMENITYID                            0
HASPARKINGSPACE                      0
ISPARKINGSPACEINCLUDEDINPRICE        0
PARKINGSPACEPRICE                    0
HASNORTHORIENTATION                  0
HASSOUTHORIENTATION                  0
HASEASTORIENTATION                   0
HASWESTORIENTATION                   0
HASBOXROOM                           0
HASWARDROBE                          0
HASSWIMMINGPOOL                      0
HASDOORMAN                           0
HASGARDEN                            0
ISDUPLEX                             0
ISSTUDIO                             0
ISINTOPFLOOR                         0
CONSTRUCTIONYEAR                 55873
FLOORCLEAN                        3846
FLATLOCATIONID                    6387
CADCONSTRUCTIONYEAR                  0
CADMAXBUILDINGFLOOR                  0
CADDWELLINGCOUNT                     0
CADASTRALQUALITYID                   1
BUILTTYPEID_1                        0
BUILTTYPEID_2                        0
BUILTTYPEID_3                        0
DISTANCE_TO_CITY_CENTER              0
DISTANCE_TO_METRO                    0
DISTANCE_TO_CASTELLANA               0
LONGITUDE                            0
LATITUDE                             0
DISTRICT                           101
dtype: int64

### Removing irrelevant or redundant columns from the DataFrame

In [19]:
columns_to_drop = [
    "CONSTRUCTIONYEAR", "FLOORCLEAN", "FLATLOCATIONID",
    "AMENITYID", "PARKINGSPACEPRICE"
]

data = data.drop(columns=columns_to_drop)

The following columns are removed for these reasons:

- **CONSTRUCTIONYEAR**: Contains approximately 55,000 missing values. Additionally, the **CADCONSTRUCTIONYEAR** column already provides the construction year information.
- **FLOORCLEAN**: Contains around 3,000 values, but its meaning is unclear and lacks proper documentation, making it unreliable for analysis.
- **FLATLOCATIONID**: Serves only as an identifier and does not provide meaningful or interpretable information.
- **AMENITYID** and **PARKINGSPACEPRICE**: Represent IDs or placeholder values (e.g., **PARKINGSPACEPRICE** appears consistently as 1 in this dataset) and lack supporting details, reducing their usefulness for modeling or analysis.

In [20]:
data.columns

Index(['ASSETID', 'PERIOD', 'PRICE', 'UNITPRICE', 'CONSTRUCTEDAREA',
       'ROOMNUMBER', 'BATHNUMBER', 'HASTERRACE', 'HASLIFT',
       'HASAIRCONDITIONING', 'HASPARKINGSPACE',
       'ISPARKINGSPACEINCLUDEDINPRICE', 'HASNORTHORIENTATION',
       'HASSOUTHORIENTATION', 'HASEASTORIENTATION', 'HASWESTORIENTATION',
       'HASBOXROOM', 'HASWARDROBE', 'HASSWIMMINGPOOL', 'HASDOORMAN',
       'HASGARDEN', 'ISDUPLEX', 'ISSTUDIO', 'ISINTOPFLOOR',
       'CADCONSTRUCTIONYEAR', 'CADMAXBUILDINGFLOOR', 'CADDWELLINGCOUNT',
       'CADASTRALQUALITYID', 'BUILTTYPEID_1', 'BUILTTYPEID_2', 'BUILTTYPEID_3',
       'DISTANCE_TO_CITY_CENTER', 'DISTANCE_TO_METRO',
       'DISTANCE_TO_CASTELLANA', 'LONGITUDE', 'LATITUDE', 'DISTRICT'],
      dtype='object')

### Checking if there is any Duplicate value present in the Dataset

In [21]:
data.duplicated().sum()

0

In [22]:
data['ASSETID'].duplicated().sum()

19011

In [23]:
data[data['ASSETID'].duplicated()]['ASSETID'].value_counts()

ASSETID
A5463639993615125363     10
A14882068007191593522     8
A2282202115281541721      8
A1315840462730187222      7
A9716330137639818420      6
                         ..
A7125061538099176310      1
A4709182542099690243      1
A2165879195720530985      1
A15510705366976841001     1
A8974485819301533463      1
Name: count, Length: 13829, dtype: int64

In [24]:
data[data['ASSETID'] == 'A5463639993615125363'].sort_values(by='PERIOD')

,ASSETID,PERIOD,PRICE,UNITPRICE,CONSTRUCTEDAREA,ROOMNUMBER,BATHNUMBER,HASTERRACE,HASLIFT,HASAIRCONDITIONING,...,CADASTRALQUALITYID,BUILTTYPEID_1,BUILTTYPEID_2,BUILTTYPEID_3,DISTANCE_TO_CITY_CENTER,DISTANCE_TO_METRO,DISTANCE_TO_CASTELLANA,LONGITUDE,LATITUDE,DISTRICT
7902,A5463639993615125363,201803,207000.0,3450.000000,60,1,1,1,1,1,...,7.0,0,0,1,5.392542,0.194499,3.692020,-3.645034,40.435193,Ciudad Lineal
19938,A5463639993615125363,201803,202000.0,3884.615385,52,1,1,1,1,1,...,7.0,0,0,1,5.374193,0.219450,3.662329,-3.645402,40.435435,Ciudad Lineal
24653,A5463639993615125363,201803,234000.0,4500.000000,52,1,1,1,1,1,...,7.0,0,0,1,5.374691,0.214582,3.669458,-3.645306,40.435273,Ciudad Lineal
24781,A5463639993615125363,201803,238000.0,4576.923077,52,1,1,1,1,1,...,7.0,0,0,1,5.363078,0.223212,3.674607,-3.645220,40.434841,Ciudad Lineal
62532,A5463639993615125363,201803,199000.0,3316.666667,60,1,1,1,1,1,...,7.0,0,0,1,5.303509,0.174841,3.617161,-3.645890,40.434675,Ciudad Lineal
81495,A5463639993615125363,201803,194000.0,3233.333333,60,1,1,1,1,1,...,7.0,0,0,1,5.385101,0.201676,3.685824,-3.645105,40.435148,Ciudad Lineal
87467,A5463639993615125363,201803,211000.0,3516.666667,60,1,1,1,1,1,...,7.0,0,0,1,5.390419,0.195707,3.694490,-3.644998,40.435077,Ciudad Lineal
87710,A5463639993615125363,201803,205000.0,3416.666667,60,1,1,1,1,1,...,7.0,0,0,1,5.311837,0.213050,3.603369,-3.646084,40.435224,Ciudad Lineal
93897,A5463639993615125363,201803,230000.0,4423.076923,52,1,1,1,1,1,...,7.0,0,0,1,5.357351,0.227274,3.665850,-3.645326,40.434904,Ciudad Lineal
94239,A5463639993615125363,201803,191000.0,3673.076923,52,1,1,1,1,1,...,7.0,0,0,1,5.308797,0.198981,3.607529,-3.646023,40.435044,Ciudad Lineal
94714,A5463639993615125363,201803,201000.0,3865.384615,52,1,1,1,1,1,...,7.0,0,0,1,5.365288,0.231545,3.649768,-3.645556,40.435506,Ciudad Lineal